@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  margin: 0;
  background-color: #15172d;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quote {
  max-width: 700px;
  text-align: center;
  padding: 1px 19px;
  color: #eae2b6;
}

.text {
  font-size: 1.5em;
}

.author {
  font-size: 1.2em;
}

.animation {
  animation-name: fade;
  animation-duration: 1s;
}

button {
  margin: 15px 5px 35px 5px;
  border: none;
  padding: 7px 10px;
  background-color: #cf4147;
  color: #eae2b6;
  font-size: 0.7em;
  border-radius: 3px;
  cursor: pointer;
}

.copied {
  background-color: #91262b;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes fade {
  0%   {opacity: 0}
  100% {opacity: 1}
}